:root {
    --c1: #c4d1f8;
    --c2: #92acf8;
    --c3: #6489f7;
    --c4: #3264fc;
    --c5: #0341fa;
}

h2 {
    color:rgb(175, 176, 177);
}

h2, h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(56, 55, 55);
    font-family: Tahoma, sans-serif;
    text-align: center;
}

input {
    border-radius: 5px;
    background-color: rgb(224, 222, 222);
}

input[type='number'] {
    width: 35px;
}

#formContainer {
    display: inline-block;
    text-align: right;
}

#container {
    display: inline-block; 
    border-radius: 10px;
    background-color: rgb(175, 176, 177);
    padding: 10px;
}

#form {
    text-align: center;
}

label {
    text-align: left;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: 2px solid;
    margin: 5px;
}

#timeSelect {
    display: none;
}

#opening {
    font-size: small;
}

#results {
    display: none;
    padding-right: 15px; 
    border-radius: 10px;
    background: linear-gradient(15deg, var(--c1), var(--c2), var(--c3), var(--c4), var(--c5));
    text-align: left;
}

#warning {
    display: inline-block;
    color: red;
}

#congrats {
    display: none;
}

#msg {
    font-family: "Jersey 15", serif;
    font-size: 50px;
}